# creating Pandas Data Structure series

In [1]:
import pandas as pd

In [2]:
data = {'Name' :'Atta' , 'Age':23 , 'Adress' :'Mardan' , 'Language' :'Poshto' , 'Salary' : 3000}
#ind = ['Name' , 'Age' , 'khan' , 'Name' , 'Age' , 'khan']
ind = range(5)
series = pd.Series(data)
#series = pd.DataFrame(series)
series
val = data.values()
series2 = pd.Series(val , index=ind) 
print(series2)

0      Atta
1        23
2    Mardan
3    Poshto
4      3000
dtype: object

# Creating DataFrame Object

In [3]:
ind = range(2)
data = {'Name' :['Atta' , 'sajid'] , 'Age':[23 , 45]  , 'Adress' :['Mardan' , 'Mardan'] , 'Language' :['Poshto' , ''] , 'Salary' : [3000 , '//']}
pd.DataFrame(data , index= data['Age'])

     Name  Age  Adress Language Salary
23   Atta   23  Mardan   Poshto   3000
45  sajid   45  Mardan              //

In [5]:
n = int(input('Enter range of dictionar'))
key = list(range(n))
x,y = int(input('Enter value for starting ')) , int(input('Enter ending number'))
val = list(range(x,y))
print(key)
print(val)
dic = {}
for i in key:
    dic[i] = val[i]
    
print(dic)
df = pd.DataFrame([dic])

Enter range of dictionar1
Enter value for starting 1
Enter ending number1
[0]
[]

IndexError: list index out of range

In [ ]:
df

In [ ]:
dicts = {}
keys = range(4)
values = ["Hi", "I", "am", "John"]
for i in keys:
        dicts[i] =values[i]
print(dicts)

In [ ]:
dicts = {}
keys = range(4)
values = ["Hi", "I", "am", "John"]
for i in keys:
        dicts[i] = values[i]
print(dicts)

In [ ]:
import pandas as pd
df = pd.read_csv(r'https://raw.githubusercontent.com/attaurrahman294/Datasets/main/SampleSuperstore.csv')
df.head()

# DataFrame Attributes

In [ ]:
print('df indexing =\n' ,df.index)
print('column names = \n' , df.columns)
print('df axes = \n' ,df.axes)
print('df data types = \n' , df.dtypes)
print('Df size\n rows*columns' , df.size)
print('shape of the df\n' , df.shape)
print('Dimensions of the df\n',df.ndim)
print('count of rows \n' , df.count(axis='index'))
print('count of rows \n' , df.count(0))
print('count of rows \n' , df.count())
print('Count of columns\n',df.count(axis='columns'))
print('Count of columns\n',df.count(1))

In [ ]:
df.head(10).T.T

In [ ]:
df.values

In [ ]:
dat = {'Name' : ['Slma' , ''] , 'Age':[34 , ''] , 'num' :[45 ,'' ]}
dat = pd.DataFrame(dat)
dat

In [ ]:
dat.isnull().sum()

In [ ]:
df

# Data Fram objects

In [ ]:
df.head()

In [ ]:
# accessing specific multiple column
df[['Sub-Category']].head()

In [ ]:
# accessing specific single column
df[['Sub-Category' , 'City']].head()

In [ ]:
# Extract specific rows from the Data Frame
df.loc[2 : 5,:]

In [ ]:
# to extract speifc columns
df.loc[: , 'Segment': 'State']

In [ ]:

df = df[['Segment' , 'City' , 'Profit' , 'Sales']]
df

In [ ]:
df.iloc[:,  : ]

In [ ]:
  import pandas as pd
df = pd.read_csv(r'https://raw.githubusercontent.com/attaurrahman294/Datasets/main/SampleSuperstore.csv')
df.head(1)

In [ ]:
df.iloc[0:10, 4:10 ]

# accesing individual elements

In [ ]:
print(df.Category[4])
print(df.Sales[7])
print(df.Sales[1])
print(df.Sales[0])

In [ ]:
print(df['Sales'][0])

In [ ]:
print

In [ ]:
print(df.at[2,'Region'])

In [ ]:
i = int(input('Enter index row number'))
c = int(input('enter column index number'))
print(df.iat[i,c])

# Adding, Deleting, Updating, Renaming Rows Columns Cells in DataFrame Object

# adding modifying columns

In [ ]:
i = range(0,9995)
df['new column'] = range(1,9995)
print(df)

In [ ]:
df =  pd.DataFrame(df)
df

# adding modifying Rows

In [ ]:
df.shape

In [ ]:
df.at[3 , 'Country'] = 'Mardan2'
df

In [ ]:
# ADD NEW ROW TO THE DATAFRAME
df.at[3 , :] = ['First class' , 'Seg' ,'Seg','Seg' , 'Mardan' , 'ind' , 'Asia' , 'furniture' , 'sub' , 290 , 3 , 0 , 40 , 10 ]
df.loc[2, 1:2] = 'Salman'
df

In [ ]:
df.at[3 , 'Country'] = 'Mardan' 
df

# deleting rows / column

In [ ]:
df.head(1)

In [ ]:
df = pd.read_csv(r'https://raw.githubusercontent.com/attaurrahman294/Datasets/main/SampleSuperstore.csv')
df.head()

In [ ]:
del(df['Ship Mode'])
df.head(1)

In [ ]:
df.drop(['Country' , 'City'] , axis=1)
df.head(1)

In [ ]:
# remove specific records
df.drop([0,1,2] , axis=0)

# Rnaming a rows and columns

In [ ]:
df = pd.read_csv(r'https://raw.githubusercontent.com/attaurrahman294/Datasets/main/SampleSuperstore.csv')
df.head()

In [ ]:
# Rename index of name of the record
df = df.rename(index={1:'Atta' , 4: 'Sajid'})
df.head()

In [ ]:
# Rename columns Name of the dataFrame
df = df.rename(columns= {'Segment' : 'Atta' , 'City':'khar_name'})
df

In [ ]:
df = pd.read_csv(r'https://raw.githubusercontent.com/attaurrahman294/Datasets/main/SampleSuperstore.csv')
df.head(1)

In [ ]:
df = pd.DataFrame(df[['Sub-Category','Quantity','Profit' ,'Sales']])

In [ ]:
df = df.head()

In [ ]:
df

In [ ]:
for (a,b)in df.iterrows():
    print('Rows =' ,a ,'\n','value =',b)
    print()

In [ ]:
for (a,b) in df.iteritems():
    print('Column index'  ,a , '\nValues\n')
    for i in b:
        print(i)

In [ ]:
df

In [ ]:
list1 = []
for i in df.columns:
    listt = list1.append(i)

for i in range(len(list1)):
    print(list1[i] , end=' ')
print('\n------------------------------------------------------')
for i,j in df.iterrows():
    print(j.values,'')
    print('-------------')

In [ ]:
for i,j in df.iterrows():
    print('\t')
    print(j.values,'\t')